body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: 'Arial', 'Helvetica', sans-serif; /* 使用清晰的字體 */
    -webkit-font-smoothing: antialiased; /* Webkit 瀏覽器的字體平滑處理 */
    -moz-osx-font-smoothing: grayscale; /* macOS 字體平滑處理 */
}

/* 標題樣式 */
h1, h2 {
    color: #b0bec5;
    font-family: 'Arial', 'Helvetica', sans-serif; /* 使用清晰的字體 */
}

/*!* 表格樣式 *!*/
/*table {*/
/*    width: 100%;*/
/*    border-collapse: collapse;*/
/*    font-family: 'Arial', 'Helvetica', sans-serif; !* 使用清晰的字體 *!*/
/*}*/

/*th, td {*/
/*    padding: 8px;*/
/*    text-align: left;*/
/*    border-bottom: 1px solid #ddd;*/
/*    font-family: 'Arial', 'Helvetica', sans-serif; !* 使用清晰的字體 *!*/
/*}*/

input, button {
    background-color: #1e1e1e; /* 深色按鈕背景 */
    border: 2px solid #616161; /* 深灰色邊框 */
    padding: 10px;
    border-radius: 5px; /* 圓角邊框 */
    color: #e0e0e0; /* 淺色文字 */
}

input:focus {
    border-color: #757575; /* 聚焦時的邊框顏色 */
    background-color: #212121; /* 聚焦時的背景色 */
}

button {
    background-color: #616161; /* 深灰色按鈕 */
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px; /* 圓角邊框 */
    cursor: pointer; /* 滑鼠懸停時指針形狀 */
}

button:hover {
    background-color: #757575; /* 按鈕懸停時顏色變化 */
}

div {
    background-color: #1e1e1e; /* 容器背景色 */
    margin-top: 10px;
    padding: 15px;
    border-radius: 5px; /* 圓角邊框 */
}

/* Navbar 样式 */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #212121; /* 深灰色背景 */
    padding: 10px 20px; /* 上下10px，左右20px的填充 */
    border-radius: 10px; /* 设置边框圆角 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 添加阴影效果 */
    margin: 20px; /* 外边距 */
}

/* Logo 图片样式 */
.logo {
    height: 50px; /* 设置一个适当的高度 */
    width: auto; /* 宽度自适应 */
}

/* 导航链接容器样式 */
.navbar-links {
    display: flex;
    align-items: center;
    height: 100%; /* 确保对齐 */
}

/* 链接样式 */
.navbar-links a {
    display: flex;
    align-items: center;
    justify-content: center; /* 中心对齐文本 */
    text-decoration: none;
    color: white; /* 白色文字 */
    background-color: #424242; /* 深灰色背景 */
    margin: 0 10px; /* 左右边距 */
    padding: 8px 16px; /* 上下左右填充 */
    border-radius: 5px;
    transition: all 0.3s ease; /* 平滑过渡效果 */
}

/* 链接悬停样式 */
.navbar-links a:hover {
    color: #90caf9; /* 悬停时的文字颜色 */
    background-color: #616161; /* 悬停背景色 */
}

#progress-container {
    width: 70%; /* 設置進度條的寬度 */
    margin: 20px auto; /* 使進度條居中顯示，並設置外邊距 */
    background-color: #333333;
    border-radius: 15px; /* 設置圓角 */
    overflow: hidden; /* 隱藏超出範圍的內容 */
    display: none;
    height: 30px; /* 設置固定高度 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 添加陰影效果 */
    position: relative; /* 設置相對定位 */
}

#progress-bar {
    width: 0;
    height: 100%; /* 調整進度條高度 */
    background-color: #81c784; /* 綠色 */
    border-radius: 15px; /* 設置圓角 */
    transition: width 0.4s ease; /* 添加過渡效果 */
    position: absolute; /* 設置絕對定位 */
    left: 0; /* 讓進度條從左邊開始 */
    top: 0; /* 讓進度條從容器頂部開始 */
}

#progress-text {
    margin-top: 20px;
    font-size: 18px;
    color: #e0e0e0;
    text-align: center;
}

#transcriptionResult {
    margin-top: 20px;
    max-height: 200px;
    overflow: hidden;
}

.hidden {
    display: none;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: 0 auto; /* 水平居中 */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#transcription-progress-container {
    display: none;
    text-align: center;
    margin-top: 20px;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; /* 可以根據需要調整高度 */
}

#transcription-progress-text {
    margin-top: 20px;
}

/* 進度條樣式 */
#upload-progress-container {
    width: 70%;
    margin: 20px auto;
    background-color: #333333;
    border-radius: 15px;
    overflow: hidden;
    display: none;
    height: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

#upload-progress-bar {
    width: 0;
    height: 100%;
    background-color: #81c784; /* 綠色 */
    border-radius: 15px;
    transition: width 0.4s ease;
    position: absolute;
    left: 0;
    top: 0;
}

#upload-progress-text {
    font-size: 18px;
    color: #e0e0e0;
    text-align: center;
    margin-top: 10px;
    display: none;
}

/* 用於將元素排列成一行的容器 */
.inline-container {
    display: flex;
    align-items: center;
    gap: 10px; /* 元素之間的間距 */
    margin-top: 10px; /* 與上一部分保持間距 */
}

/* 提示框樣式 */
.alert {
    padding: 20px;
    background-color: #1565c0; /* 深藍色背景 */
    color: white;
    border-radius: 5px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    white-space: nowrap; /* 使文字不換行 */
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    display: inline-block; /* 使按鈕與文字同列顯示 */
}

.closebtn:hover {
    color: black;
}

/* 滾動容器樣式 */
.scroll-container {
    overflow-x: auto;
    white-space: nowrap;
    width: 100%; /* 確保滾動容器的寬度 */
}

/* section 樣式 */
.section .content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.5s ease, opacity 0.5s ease, padding 0.5s ease;
}

.section:hover .content {
    max-height: 1000px;
    opacity: 1;
    padding-top: 20px;
    padding-bottom: 20px;
}

.section {
    border: 1px solid #333;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #1e1e1e;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.section:hover {
    background-color: #2c2c2c;
    transform: scale(1.02);
}
