body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: 'Arial', 'Helvetica', sans-serif; /* 使用清晰的字體 */
    -webkit-font-smoothing: antialiased; /* Webkit 瀏覽器的字體平滑處理 */
    -moz-osx-font-smoothing: grayscale; /* macOS 字體平滑處理 */
}

/* 標題樣式 */
h1, h2 {
    color: #b0bec5;
    font-family: 'Arial', 'Helvetica', sans-serif; /* 使用清晰的字體 */
}

input, button {
    background-color: #1e1e1e; /* 深色按鈕背景 */
    border: 2px solid #616161; /* 深灰色邊框 */
    padding: 10px;
    border-radius: 5px; /* 圓角邊框 */
    color: #e0e0e0; /* 淺色文字 */
}

input:focus {
    border-color: #757575; /* 聚焦時的邊框顏色 */
    background-color: #212121; /* 聚焦時的背景色 */
}

button {
    background-color: #616161; /* 深灰色按鈕 */
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px; /* 圓角邊框 */
    cursor: pointer; /* 滑鼠懸停時指針形狀 */
}

button:hover {
    background-color: #757575; /* 按鈕懸停時顏色變化 */
}

div {
    background-color: #1e1e1e; /* 容器背景色 */
    margin-top: 10px;
    padding: 10px; /* 調整padding */
    border-radius: 5px; /* 圓角邊框 */
}

/* Navbar 樣式 */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #212121; /* 深灰色背景 */
    padding: 10px 20px; /* 上下10px，左右20px的填充 */
    border-radius: 10px; /* 設置邊框圓角 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 添加陰影效果 */
    width: 100%; /* 設置寬度為100% */
    margin-bottom: 20px; /* 與下面的內容保持間距 */
    transition: background-color 0.3s ease; /* 平滑過渡效果 */
}

/* Navbar 懸浮效果 */
.navbar:hover {
    background-color: #333333; /* 懸浮時改變背景顏色 */
}

/* Logo 圖片樣式 */
.logo {
    height: 50px; /* 設置一個適當的高度 */
    width: auto; /* 寬度自適應 */
}

/* 導航鏈接容器樣式 */
.navbar-links {
    display: flex;
    align-items: center;
    height: 100%; /* 確保對齊 */
}

/* 鏈接樣式 */
.navbar-links a {
    display: flex;
    align-items: center;
    justify-content: center; /* 中心對齊文本 */
    text-decoration: none;
    color: white; /* 白色文字 */
    background-color: #424242; /* 深灰色背景 */
    margin: 0 10px; /* 左右邊距 */
    padding: 8px 16px; /* 上下左右填充 */
    border-radius: 5px;
    transition: all 0.3s ease; /* 平滑過渡效果 */
}

/* 鏈接懸浮效果 */
.navbar-links a:hover {
    color: #90caf9; /* 懸浮時的文字顏色 */
    background-color: #616161; /* 懸浮背景色 */
}

/* 滾動容器樣式 */
.scroll-container-x {
    overflow-x: auto;
    overflow-y: hidden; /* 取消垂直滾動條 */
    white-space: nowrap; /* 確保內容不換行 */
}

/* section 樣式 */
.section .content {
    overflow: hidden;
    transition: max-height 1s ease, opacity 1s ease, padding-top 1s ease, padding-bottom 1s ease;
    max-height: 0; /* 初始最大高度為 0，內容區塊是收起的 */
    opacity: 0; /* 初始不透明度為 0 */
    padding-top: 0;
    padding-bottom: 0;
}

.section.fixed .content {
    max-height: 200px; /* 固定時最大高度縮短 */
    opacity: 1;
    padding-top: 10px; /* 調整padding-top */
    padding-bottom: 10px; /* 調整padding-bottom */
}

.section:hover .content {
    max-height: 200px; /* 縮短功能區塊的最大高度 */
    opacity: 1;
    padding-top: 10px; /* 調整padding-top */
    padding-bottom: 10px; /* 調整padding-bottom */
}

.section {
    border: 1px solid #333;
    padding: 10px; /* 調整padding */
    margin-bottom: 10px; /* 調整margin-bottom */
    background-color: #1e1e1e;
    border-radius: 5px;
    transition: background-color 0.6s ease, transform 0.6s ease;
}

.section:hover {
    background-color: #2c2c2c;
    transform: scale(1.02);
}
