<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link href="/static/img/favicon.ico" rel="shortcut icon"/>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@3.0.0"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/pizzip@3.2.2/dist/pizzip.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/docxtemplater@3.25.4/build/docxtemplater.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-2.24.1.min.js"></script>
<!--    <script src="stockData.js"></script>-->
    <title>Poseidon Capital</title>
</head>


<body>
<div class="overlay"></div> <!-- 添加遮罩層 -->

<div class="navbar">
    <a href="home.html" class="logo-container">
        <img src="/static/img/favicon.ico" alt="Poseidon Capital Ltd." class="logo">
    </a>
    <div class="navbar-links">
        <div class="dropdown-container"> <!-- dropdown-container 定義在這裡 -->
            <div class="dropdown"> <!-- 將 dropdown 放在一個 div 內 -->
                <a href="#">Stock</a> <!-- 這裡的 a 不需要 dropdown class -->
                <div class="dropdown-content">
                    <a href="#info-section" onclick="toggleSection(event, '#info-section')">United States</a>
                    <a href="#jp-info-section" onclick="toggleSection(event, '#jp-info-section')">Japan</a>
                    <a href="#tw-info-section" onclick="toggleSection(event, '#tw-info-section')">Taiwan</a>
                    <a href="#eu-info-section" onclick="toggleSection(event, '#eu-info-section')">European Union</a>
                    <a href="#kr-info-section" onclick="toggleSection(event, '#kr-info-section')">Korea</a>
                    <a href="#hk-info-section" onclick="toggleSection(event, '#hk-info-section')">Hong Kong</a>
                    <a href="#cn-info-section" onclick="toggleSection(event, '#cn-info-section')">China</a>
                </div>
            </div>
        </div>
        <div class="dropdown-container">
            <div class="dropdown">
                <a href="#">Compare</a> <!-- 下拉按鈕 -->
                <div class="dropdown-content">
                    <a href="#" onclick="loadCompareSection('compare-tw'); toggleSection(event, '#compare');">Taiwan</a>
                    <a href="#" onclick="loadCompareSection('compare-us'); toggleSection(event, '#compare');">U.S</a>
                    <a href="#" onclick="loadCompareSection('compare-eu'); toggleSection(event, '#compare');">EU</a>
                    <a href="#" onclick="loadCompareSection('compare-multi'); toggleSection(event, '#compare');">Global</a>
                </div>
            </div>
        </div>
        <div class="dropdown-container"> <!-- 新增的 AI Research dropdown-container -->
            <div class="dropdown"> <!-- 將 AI Research dropdown 放在一個 div 內 -->
                <a href="#">AI Research</a> <!-- 下拉按鈕 -->
                <div class="dropdown-content">
                    <a href="#" onclick="loadAIBoxSection('chat-gpt'); toggleSection(event, '#ai_box');">Chat GPT</a>
                    <a href="#" onclick="loadAIBoxSection('audio-transcription'); toggleSection(event, '#ai_box');">Audio Transcription</a>
                    <a href="http://114.32.65.180:3000/auth" target="_blank">Multi-AI</a>
                </div>
            </div>
        </div>
        <div class="dropdown-container"> <!-- 新增的 Link dropdown-container -->
            <div class="dropdown"> <!-- 將 Link dropdown 放在一個 div 內 -->
                <a href="#">Explore More</a> <!-- 下拉按鈕 -->
                <div class="dropdown-content">
                    <a href="https://www.businessweekly.com.tw/Archive/" target="_blank">Business Weekly</a>
                    <a href="https://finance.yahoo.com/" target="_blank">Yahoo Finance</a>
                    <a href="https://www.oaktreecapital.com/insights" target="_blank">Oaktree</a>
                    <a href="https://vocus.cc/become_creator" target="_blank">Vocus</a>
                    <a href="https://investanchors.com/" target="_blank">Invest Anchors</a>
                    <a href="https://statementdog.com/" target="_blank">Statement Dog</a>
                    <a href="https://www.macromicro.me/13f" target="_blank">MacroMicro</a>
                    <a href="https://mops.twse.com.tw/mops/web/index" target="_blank">Market Observation</a>
                    <a href="#" onclick="loadExplore('market'); toggleSection(event, '#explore-section');">Trading View</a>
                </div>
            </div>
        </div>
    </div>
</div>




<!--/////////////////////////////////美股/////////////////////////////////-->

<div id="info-section" class="info-section" style="display: none;">
    <div class="info-input">
        <input type="text" id="stockSymbol" placeholder="Input U.S Stock" pattern="[A-Z]*" autocomplete="off">

        <button id="usStockButton" onclick="fetchStock() ;clearSuggestions(); ">
            <img src="/static/img/arrow-right.png" alt="Confirm" class="confirm-icon">
        </button>
    </div>
    <div id="suggestions" class="suggestions-list"></div>
    <p id="outputSymbol" data-last-symbol="">Current query : </p>

    <div id="companyProfileContainer"></div>
    <div id="PriceContainer"></div> <!-- 新增的價格容器 -->

    <div class="info-content">
        <div class="info-column">
            <a href="#" onclick="loadSection('income-statement')">Income Statement</a>
            <a href="#" onclick="loadSection('balance-sheet')">Balance Sheet</a>
            <a href="#" onclick="loadSection('cashflow-statement')">Cash Flow Statement</a>
        </div>
        <div class="info-column">
            <a href="#" onclick="loadSection('earnings-call-transcript') ; fetchEarningsCallTranscript();">Earnings Call Transcript</a>
            <a href="#" onclick="loadSection('earnings-call-calendar');fetchEarningsCallCalendar();">Earnings Call Calendar</a>
            <a href="#" onclick="loadSection('historical-earnings');fetch_historical_earning_calendar();">Historical and Future Earnings</a>
        </div>
        <div class="info-column">
            <a href="#" onclick="loadSection('dividend-calendar');fetch_stock_dividend_calendar();">Dividend Calendar</a>
            <a href="#" onclick="loadSection('insider-trades');fetchInsiderTrades();">Insider Trades</a>
        </div>
    </div>
    <div id="section-container" class="section-container">
        <!-- Dynamic content loading -->
    </div>
</div>


<!--/////////////////////////////////日股/////////////////////////////////-->


<div id="jp-info-section" class="info-section" style="display: none;">
    <div class="info-input">
        <input type="text" id="jpStockSymbol" placeholder="Input JP Stock" pattern="[0-9]*">
        <button id="jpStockButton" onclick="fetchJPStock() ; clearSuggestions();">
            <img src="/static/img/arrow-right.png" alt="Confirm" class="confirm-icon">
        </button>
    </div>
    <div id="suggestionsJP" class="suggestions-list"></div> <!-- 建议框容器 -->
    <p id="outputSymbolJP" data-last-symbol="">Current query : </p>

    <div id="companyProfileContainerJP"></div>
    <div id="PriceContainerJP"></div> <!-- 新增的價格容器 -->
    <div class="info-content">
        <div class="info-column">
            <a href="#" onclick="loadSectionJP('income-statement')">Income Statement</a>
            <a href="#" onclick="loadSectionJP('balance-sheet')">Balance Sheet</a>
            <a href="#" onclick="loadSectionJP('cashflow-statement')">Cash Flow Statement</a>
        </div>
        <div class="info-column">
            <a href="#" onclick="loadSectionJP('earnings-call-transcript');fetchJPEarningsCallTranscript();">Earnings Call Transcript</a>
            <a href="#" onclick="loadSectionJP('earnings-call-calendar') ; fetchJPEarningsCallCalendar()">Earnings Call Calendar</a>
            <!--            <a href="#" onclick="loadSectionJP('historical-earnings')">Historical and Future Earnings</a>-->
        </div>
        <!--        <div class="info-column">-->
        <!--            <a href="#" onclick="loadSectionJP('dividend-calendar')">Dividend Calendar</a>-->
        <!--            <a href="#" onclick="loadSectionJP('insider-trades')">Insider Trades</a>-->
        <!--        </div>-->
    </div>
    <div id="section-container-JP" class="section-container">
        <!-- Dynamic content loading -->
    </div>
</div>

<!--/////////////////////////////////台股/////////////////////////////////-->

<div id="tw-info-section" class="info-section">
    <div class="info-input">
        <input type="text" id="twStockSymbol" placeholder="Input TW Stock" pattern="[0-9]*">
        <button id="twStockButton" onclick="fetchTWStock() ; clearSuggestions();">
            <img src="/static/img/arrow-right.png" alt="Confirm" class="confirm-icon">
        </button>
    </div>
    <div id="suggestionsTW" class="suggestions-list"></div> <!-- 建議框容器 -->
    <p id="outputSymbolTW" data-last-symbol="">Current query : </p>

    <div id="companyProfileContainerTW"></div>
    <div id="PriceContainerTW"></div> <!-- 新增的價格容器 -->
    <div class="info-content">
        <div class="info-column">
            <a href="#" onclick="loadSectionTW('income-statement')">Income Statement</a>
            <a href="#" onclick="loadSectionTW('balance-sheet')">Balance Sheet</a>
            <a href="#" onclick="loadSectionTW('cashflow-statement')">Cash Flow Statement</a>
        </div>
        <div class="info-column">
            <a href="#" onclick="loadSectionTW('earnings-call-transcript');fetchTWEarningsCallTranscript();">Earnings Call Transcript</a>
            <a href="#" onclick="loadSectionTW('earnings-call-calendar');fetchTWEarningsCallCalendar();">Earnings Call Calendar</a>
        </div>
    </div>
    <div id="section-container-TW" class="section-container">
        <!-- Dynamic content loading -->
    </div>
</div>


<!--/////////////////////////////////歐股/////////////////////////////////-->

<div id="eu-info-section" class="info-section" style="display: none;">
    <div class="info-input">
        <input type="text" id="euStockSymbol" placeholder="Input EU Stock" pattern="[A-Z0-9\.\-]*">
        <button id="euStockButton" onclick="fetchEUStock() ; clearSuggestions();">
            <img src="/static/img/arrow-right.png" alt="Confirm" class="confirm-icon">
        </button>
    </div>
    <div id="suggestionsEU" class="suggestions-list"></div> <!-- 建议框容器 -->
    <p id="outputSymbolEU" data-last-symbol="">Current query : </p>

    <div id="companyProfileContainerEU"></div>
    <div id="PriceContainerEU"></div> <!-- 新增的價格容器 -->
    <div class="info-content">
        <div class="info-column">
            <a href="#" onclick="loadSectionEU('income-statement') ">Income Statement</a>
            <a href="#" onclick="loadSectionEU('balance-sheet')">Balance Sheet</a>
            <a href="#" onclick="loadSectionEU('cashflow-statement')">Cash Flow Statement</a>
        </div>
        <div class="info-column">
            <a href="#" onclick="loadSectionEU('earnings-call-transcript');fetchEUEarningsCallTranscript();">Earnings Call Transcript</a>
            <a href="#" onclick="loadSectionEU('earnings-call-calendar') ;fetchEUEarningsCallCalendar();">Earnings Call Calendar</a>
            <!--            <a href="#" onclick="loadSectionEU('historical-earnings')">Historical and Future Earnings</a>-->
        </div>
        <!--        <div class="info-column">-->
        <!--            <a href="#" onclick="loadSectionEU('dividend-calendar')">Dividend Calendar</a>-->
        <!--            <a href="#" onclick="loadSectionEU('insider-trades')">Insider Trades</a>-->
        <!--        </div>-->
    </div>
    <div id="section-container-EU" class="section-container">
        <!-- Dynamic content loading -->
    </div>
</div>

<!--/////////////////////////////////韓股/////////////////////////////////-->

<div id="kr-info-section" class="info-section" style="display: none;">
    <div class="info-input">
        <input type="text" id="krStockSymbol" placeholder="Input KR Stock" pattern="[A-Z0-9]{1,6}">
        <button id="krStockButton" onclick="fetchKRStock() ; clearSuggestions();">
            <img src="/static/img/arrow-right.png" alt="Confirm" class="confirm-icon">
        </button>
    </div>
    <div id="suggestionsKR" class="suggestions-list"></div> <!-- 建議框容器 -->
    <p id="outputSymbolKR" data-last-symbol="">Current query : </p>

    <div id="companyProfileContainerKR"></div>
    <div id="PriceContainerKR"></div> <!-- 新增的價格容器 -->
    <div class="info-content">
        <div class="info-column">
            <a href="#" onclick="loadSectionKR('income-statement')">Income Statement</a>
            <a href="#" onclick="loadSectionKR('balance-sheet')">Balance Sheet</a>
            <a href="#" onclick="loadSectionKR('cashflow-statement')">Cash Flow Statement</a>
        </div>
        <div class="info-column">
            <a href="#" onclick="loadSectionKR('earnings-call-transcript');fetchKREarningsCallTranscript();">Earnings Call Transcript</a>
            <a href="#" onclick="loadSectionKR('earnings-call-calendar') ;fetchKREarningsCallCalendar();">Earnings Call Calendar</a>
        </div>
    </div>
    <div id="section-container-KR" class="section-container">
        <!-- Dynamic content loading -->
    </div>
</div>

<!--/////////////////////////////////港股/////////////////////////////////-->

<div id="hk-info-section" class="info-section" style="display: none;">
    <div class="info-input">
        <input type="text" id="hkStockSymbol" placeholder="Input HK Stock" pattern="[0-9]{5}">
        <button id="hkStockButton" onclick="fetchHKStock() ; clearSuggestions();">
            <img src="/static/img/arrow-right.png" alt="Confirm" class="confirm-icon">
        </button>
    </div>
    <div id="suggestionsHK" class="suggestions-list"></div> <!-- 建議框容器 -->
    <p id="outputSymbolHK" data-last-symbol="">Current query : </p>

    <div id="companyProfileContainerHK"></div>
    <div id="PriceContainerHK"></div> <!-- 新增的價格容器 -->
    <div class="info-content">
        <div class="info-column">
            <a href="#" onclick="loadSectionHK('income-statement')">Income Statement</a>
            <a href="#" onclick="loadSectionHK('balance-sheet')">Balance Sheet</a>
            <a href="#" onclick="loadSectionHK('cashflow-statement')">Cash Flow Statement</a>
        </div>
        <div class="info-column">
            <a href="#" onclick="loadSectionHK('earnings-call-transcript');fetchHKEarningsCallTranscript();">Earnings Call Transcript</a>
            <a href="#" onclick="loadSectionHK('earnings-call-calendar') ;fetchHKEarningsCallCalendar();">Earnings Call Calendar</a>
        </div>
    </div>
    <div id="section-container-HK" class="section-container">
        <!-- Dynamic content loading -->
    </div>
</div>

<!--/////////////////////////////////中國股票/////////////////////////////////-->

<div id="cn-info-section" class="info-section" style="display: none;">
    <div class="info-input">
        <input type="text" id="cnStockSymbol" placeholder="Input CN Stock" pattern="^(60[0-9]{4}|(00|30)[0-9]{4}|002[0-9]{3})$" title="请输入有效的上海或深圳交易所股票代码">
        <button id="cnStockButton" onclick="fetchCNStock() ; clearSuggestions();">
            <img src="/static/img/arrow-right.png" alt="Confirm" class="confirm-icon">
        </button>
    </div>
    <div id="suggestionsCN" class="suggestions-list"></div> <!-- 建議框容器 -->
    <p id="outputSymbolCN" data-last-symbol="">Current query : </p>

    <div id="companyProfileContainerCN"></div>
    <div id="PriceContainerCN"></div> <!-- 新增的價格容器 -->
    <div class="info-content">
        <div class="info-column">
            <a href="#" onclick="loadSectionCN('income-statement')">Income Statement</a>
            <a href="#" onclick="loadSectionCN('balance-sheet')">Balance Sheet</a>
            <a href="#" onclick="loadSectionCN('cashflow-statement')">Cash Flow Statement</a>
        </div>
        <div class="info-column">
            <a href="#" onclick="loadSectionCN('earnings-call-transcript');fetchCNEarningsCallTranscript();">Earnings Call Transcript</a>
            <a href="#" onclick="loadSectionCN('earnings-call-calendar') ;fetchCNEarningsCallCalendar();">Earnings Call Calendar</a>
        </div>
    </div>
    <div id="section-container-CN" class="section-container">
        <!-- Dynamic content loading -->
    </div>
</div>


<!--/////////////////////////////////AI 資訊/////////////////////////////////-->
<div id="ai_box" class="ai-box-section" style="display: none;">

    <div id="aiBoxSectionContainer" class="section-container">
        <!-- Dynamic content loading -->
    </div>
</div>

<!--/////////////////////////////////Compare/////////////////////////////////-->
<div id="compare" class="compare-section" style="display: none;">
    <div id="section-container-compare-tw" class="section-container">
        <!-- Dynamic content loading for compare-tw -->
    </div>
</div>
<!--</div>-->
<!--<div id="compare" class="compare-section" style="display: none;">-->
<!--    <div id="section-container-compare-tw" class="section-container" style="display: none;"></div>-->
<!--    <div id="section-container-compare-us" class="section-container" style="display: none;"></div>-->
<!--    <div id="section-container-compare-multi" class="section-container" style="display: none;"></div>-->
<!--</div>-->



<div id="explore-section" class="explore-section" style="display: none;">
    <div id="marketContainer" class="section-container" style="background-color: #2c2c2c;">
        <!-- Dynamic content will be loaded here -->
    </div>
</div>


<div class="overlay"></div>
<!--/////////////////////////////////body資料/////////////////////////////////-->
<div class="body-container">
    <div class="filter-section" id="filter-section">
        <h1>Financial News</h1>
        <br>
        <input
                type="text"
                id="stock-input"
                placeholder="Enter U.S stock symbol to search news."
                class="stock-input"
        />

        <!-- 新增日期篩選區塊 -->
        <div class="date-range-filter" style="background-color:#121212">
            <label for="news-date">Select Date:</label>
            <input type="date" id="news-date">
            <button id="filter-by-date">OK</button>
        </div>


        <div id="suggestions-container" class="suggestions-container"></div>
    </div>
    <div class="news-container" id="news-container">
        <!-- News articles will be dynamically inserted here -->
    </div>
    <div class="pagination-container" id="pagination-container">
        <!-- Pagination buttons will be dynamically inserted here -->
    </div>
</div>


<!--    <div class="market-trend">-->
<!--        <h2 id="marketTitle">台股市場焦點</h2>-->
<!--        <p>查看市場漲跌幅最大的概念股和族群有哪些，點擊區塊可查看詳細概念股清單。</p>-->

<!--        &lt;!&ndash; 市場切換按鈕 &ndash;&gt;-->
<!--        <div class="market-filters">-->
<!--            <button class="active" data-market="TW" onclick="updateMarket(this)">TW</button>-->
<!--            <button data-market="US" onclick="updateMarket(this)">US</button>-->
<!--            <button data-market="JP" onclick="updateMarket(this)">JP</button>-->
<!--            <button data-market="EU" onclick="updateMarket(this)">EU</button>-->

<!--        </div>-->

<!--        &lt;!&ndash; 時間篩選 &ndash;&gt;-->
<!--        <div class="time-filters">-->
<!--            <button class="active" data-timeframe="1m" onclick="updateTimeframe(this)">1月</button>-->
<!--            <button data-timeframe="3m" onclick="updateTimeframe(this)">3月</button>-->
<!--            <button data-timeframe="ytd" onclick="updateTimeframe(this)">YTD</button>-->
<!--            <button data-timeframe="1y" onclick="updateTimeframe(this)">1年</button>-->
<!--        </div>-->

<!--        &lt;!&ndash; 動態產業展示 &ndash;&gt;-->
<!--        <div class="industry-grid" id="industryGrid"></div>-->
<!--    </div>-->
<script src="/static/js/main.js">
    document.getElementById('stockSymbol').addEventListener('keydown', function (event) {
        if (event.key === 'Enter') {
            clearSuggestions(); // 按下 Enter 時執行 clearSuggestions()
        }
    });


</script>

</body>
</html>

