<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link href="/static/img/favicon.ico" rel="shortcut icon"/>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>

    <title>Poseidon Capital</title>
</head>
<body>
<div class="overlay"></div> <!-- 添加遮罩層 -->

<div class="navbar">
    <a href="home.html" class="logo-container">
        <img src="/static/img/favicon.ico" alt="Poseidon Capital Ltd." class="logo">
    </a>
    <div class="navbar-links">
        <div class="dropdown">
            <a href="#">Stock</a>
            <div class="dropdown-content">
                <a href="#info-section" onclick="toggleSection(event, '#info-section')">U.S Stock</a>
                <a href="#jp-info-section" onclick="toggleSection(event, '#jp-info-section')">JP Stock</a>
                <a href="#tw-info-section" onclick="toggleSection(event, '#tw-info-section')">TW Stock</a>
                <a href="#eu-info-section" onclick="toggleSection(event, '#eu-info-section')">EU Stock</a>
                <a href="#kr-info-section" onclick="toggleSection(event, '#kr-info-section')">KR Stock</a>
                <a href="#hk-info-section" onclick="toggleSection(event, '#hk-info-section')">HK Stock</a>
                <a href="#cn-info-section" onclick="toggleSection(event, '#cn-info-section')">CN Stock</a>
            </div>
        </div>
        <a href="#ai_box" onclick="toggleSection(event, '#ai_box')">AI Research</a>
        <a href="../index.html">Home</a>
    </div>
</div>



<!--/////////////////////////////////美股/////////////////////////////////-->

<div id="info-section" class="info-section" style="display: none;">
    <div class="info-input">
        <input type="text" id="stockSymbol" placeholder="Input U.S Stock" pattern="[A-Z]*" autocomplete="off">

        <button id="usStockButton" onclick="fetchStock()">
            <img src="/static/img/arrow-right.png" alt="Confirm" class="confirm-icon">
        </button>
    </div>
    <div id="suggestions" class="suggestions-list"></div>
    <p id="outputSymbol" data-last-symbol="">Current query : </p>

    <div id="companyProfileContainer"></div>
    <div id="PriceContainer"></div> <!-- 新增的價格容器 -->

    <div class="info-content">
        <div class="info-column">
            <a href="#" onclick="loadSection('income-statement')">Income Statement</a>
            <a href="#" onclick="loadSection('balance-sheet')">Balance Sheet</a>
            <a href="#" onclick="loadSection('cashflow-statement')">Cash Flow Statement</a>
        </div>
        <div class="info-column">
            <a href="#" onclick="loadSection('earnings-call-transcript')">Earnings Call Transcript</a>
            <a href="#" onclick="loadSection('earnings-call-calendar')">Earnings Call Calendar</a>
            <a href="#" onclick="loadSection('historical-earnings')">Historical and Future Earnings</a>
        </div>
        <div class="info-column">
            <a href="#" onclick="loadSection('dividend-calendar')">Dividend Calendar</a>
            <a href="#" onclick="loadSection('insider-trades')">Insider Trades</a>
        </div>
    </div>
    <div id="section-container" class="section-container">
        <!-- Dynamic content loading -->
    </div>
</div>


<!--/////////////////////////////////日股/////////////////////////////////-->


<div id="jp-info-section" class="info-section" style="display: none;">
    <div class="info-input">
        <input type="text" id="jpStockSymbol" placeholder="Input JP Stock" pattern="[0-9]*">
        <button id="jpStockButton" onclick="fetchJPStock()">
            <img src="/static/img/arrow-right.png" alt="Confirm" class="confirm-icon">
        </button>
    </div>
    <div id="suggestionsJP" class="suggestions-list"></div> <!-- 建议框容器 -->
    <p id="outputSymbolJP" data-last-symbol="">Current query : </p>

    <div id="companyProfileContainerJP"></div>
    <div id="PriceContainerJP"></div> <!-- 新增的價格容器 -->
    <div class="info-content">
        <div class="info-column">
            <a href="#" onclick="loadSectionJP('income-statement')">Income Statement</a>
            <a href="#" onclick="loadSectionJP('balance-sheet')">Balance Sheet</a>
            <a href="#" onclick="loadSectionJP('cashflow-statement')">Cash Flow Statement</a>
        </div>
        <div class="info-column">
            <a href="#" onclick="loadSectionJP('earnings-call-transcript')">Earnings Call Transcript</a>
            <a href="#" onclick="loadSectionJP('earnings-call-calendar')">Earnings Call Calendar</a>
            <!--            <a href="#" onclick="loadSectionJP('historical-earnings')">Historical and Future Earnings</a>-->
        </div>
        <!--        <div class="info-column">-->
        <!--            <a href="#" onclick="loadSectionJP('dividend-calendar')">Dividend Calendar</a>-->
        <!--            <a href="#" onclick="loadSectionJP('insider-trades')">Insider Trades</a>-->
        <!--        </div>-->
    </div>
    <div id="section-container-JP" class="section-container">
        <!-- Dynamic content loading -->
    </div>
</div>

<!--/////////////////////////////////台股/////////////////////////////////-->

<div id="tw-info-section" class="info-section">
    <div class="info-input">
        <input type="text" id="twStockSymbol" placeholder="Input TW Stock" pattern="[0-9]*">
        <button id="twStockButton" onclick="fetchTWStock()">
            <img src="/static/img/arrow-right.png" alt="Confirm" class="confirm-icon">
        </button>
    </div>
    <div id="suggestionsTW" class="suggestions-list"></div> <!-- 建議框容器 -->
    <p id="outputSymbolTW" data-last-symbol="">Current query : </p>

    <div id="companyProfileContainerTW"></div>
    <div id="PriceContainerTW"></div> <!-- 新增的價格容器 -->
    <div class="info-content">
        <div class="info-column">
            <a href="#" onclick="loadSectionTW('income-statement')">Income Statement</a>
            <a href="#" onclick="loadSectionTW('balance-sheet')">Balance Sheet</a>
            <a href="#" onclick="loadSectionTW('cashflow-statement')">Cash Flow Statement</a>
        </div>
        <div class="info-column">
            <a href="#" onclick="loadSectionTW('earnings-call-transcript')">Earnings Call Transcript</a>
            <a href="#" onclick="loadSectionTW('earnings-call-calendar')">Earnings Call Calendar</a>
        </div>
    </div>
    <div id="section-container-TW" class="section-container">
        <!-- Dynamic content loading -->
    </div>
</div>


<!--/////////////////////////////////歐股/////////////////////////////////-->

<div id="eu-info-section" class="info-section" style="display: none;">
    <div class="info-input">
        <input type="text" id="euStockSymbol" placeholder="Input EU Stock" pattern="[A-Z0-9\.\-]*">
        <button id="euStockButton" onclick="fetchEUStock()">
            <img src="/static/img/arrow-right.png" alt="Confirm" class="confirm-icon">
        </button>
    </div>
    <div id="suggestionsEU" class="suggestions-list"></div> <!-- 建议框容器 -->
    <p id="outputSymbolEU" data-last-symbol="">Current query : </p>

    <div id="companyProfileContainerEU"></div>
    <div id="PriceContainerEU"></div> <!-- 新增的價格容器 -->
    <div class="info-content">
        <div class="info-column">
            <a href="#" onclick="loadSectionEU('income-statement')">Income Statement</a>
            <a href="#" onclick="loadSectionEU('balance-sheet')">Balance Sheet</a>
            <a href="#" onclick="loadSectionEU('cashflow-statement')">Cash Flow Statement</a>
        </div>
        <div class="info-column">
            <a href="#" onclick="loadSectionEU('earnings-call-transcript')">Earnings Call Transcript</a>
            <a href="#" onclick="loadSectionEU('earnings-call-calendar')">Earnings Call Calendar</a>
            <!--            <a href="#" onclick="loadSectionEU('historical-earnings')">Historical and Future Earnings</a>-->
        </div>
        <!--        <div class="info-column">-->
        <!--            <a href="#" onclick="loadSectionEU('dividend-calendar')">Dividend Calendar</a>-->
        <!--            <a href="#" onclick="loadSectionEU('insider-trades')">Insider Trades</a>-->
        <!--        </div>-->
    </div>
    <div id="section-container-EU" class="section-container">
        <!-- Dynamic content loading -->
    </div>
</div>

<!--/////////////////////////////////韓股/////////////////////////////////-->

<div id="kr-info-section" class="info-section" style="display: none;">
    <div class="info-input">
        <input type="text" id="krStockSymbol" placeholder="Input KR Stock" pattern="[A-Z0-9]{1,6}">
        <button id="krStockButton" onclick="fetchKRStock()">
            <img src="/static/img/arrow-right.png" alt="Confirm" class="confirm-icon">
        </button>
    </div>
    <div id="suggestionsKR" class="suggestions-list"></div> <!-- 建議框容器 -->
    <p id="outputSymbolKR" data-last-symbol="">Current query : </p>

    <div id="companyProfileContainerKR"></div>
    <div id="PriceContainerKR"></div> <!-- 新增的價格容器 -->
    <div class="info-content">
        <div class="info-column">
            <a href="#" onclick="loadSectionKR('income-statement')">Income Statement</a>
            <a href="#" onclick="loadSectionKR('balance-sheet')">Balance Sheet</a>
            <a href="#" onclick="loadSectionKR('cashflow-statement')">Cash Flow Statement</a>
        </div>
        <div class="info-column">
            <a href="#" onclick="loadSectionKR('earnings-call-transcript')">Earnings Call Transcript</a>
            <a href="#" onclick="loadSectionKR('earnings-call-calendar')">Earnings Call Calendar</a>
        </div>
    </div>
    <div id="section-container-KR" class="section-container">
        <!-- Dynamic content loading -->
    </div>
</div>

<!--/////////////////////////////////港股/////////////////////////////////-->

<div id="hk-info-section" class="info-section" style="display: none;">
    <div class="info-input">
        <input type="text" id="hkStockSymbol" placeholder="Input HK Stock" pattern="[0-9]{5}">
        <button id="hkStockButton" onclick="fetchHKStock()">
            <img src="/static/img/arrow-right.png" alt="Confirm" class="confirm-icon">
        </button>
    </div>
    <div id="suggestionsHK" class="suggestions-list"></div> <!-- 建議框容器 -->
    <p id="outputSymbolHK" data-last-symbol="">Current query : </p>

    <div id="companyProfileContainerHK"></div>
    <div id="PriceContainerHK"></div> <!-- 新增的價格容器 -->
    <div class="info-content">
        <div class="info-column">
            <a href="#" onclick="loadSectionHK('income-statement')">Income Statement</a>
            <a href="#" onclick="loadSectionHK('balance-sheet')">Balance Sheet</a>
            <a href="#" onclick="loadSectionHK('cashflow-statement')">Cash Flow Statement</a>
        </div>
        <div class="info-column">
            <a href="#" onclick="loadSectionHK('earnings-call-transcript')">Earnings Call Transcript</a>
            <a href="#" onclick="loadSectionHK('earnings-call-calendar')">Earnings Call Calendar</a>
        </div>
    </div>
    <div id="section-container-HK" class="section-container">
        <!-- Dynamic content loading -->
    </div>
</div>

<!--/////////////////////////////////中國股票/////////////////////////////////-->

<div id="cn-info-section" class="info-section" style="display: none;">
    <div class="info-input">
        <input type="text" id="cnStockSymbol" placeholder="Input CN Stock" pattern="^(60[0-9]{4}|(00|30)[0-9]{4}|002[0-9]{3})$" title="请输入有效的上海或深圳交易所股票代码">
        <button id="cnStockButton" onclick="fetchCNStock()">
            <img src="/static/img/arrow-right.png" alt="Confirm" class="confirm-icon">
        </button>
    </div>
    <div id="suggestionsCN" class="suggestions-list"></div> <!-- 建議框容器 -->
    <p id="outputSymbolCN" data-last-symbol="">Current query : </p>

    <div id="companyProfileContainerCN"></div>
    <div id="PriceContainerCN"></div> <!-- 新增的價格容器 -->
    <div class="info-content">
        <div class="info-column">
            <a href="#" onclick="loadSectionCN('income-statement')">Income Statement</a>
            <a href="#" onclick="loadSectionCN('balance-sheet')">Balance Sheet</a>
            <a href="#" onclick="loadSectionCN('cashflow-statement')">Cash Flow Statement</a>
        </div>
        <div class="info-column">
            <a href="#" onclick="loadSectionCN('earnings-call-transcript')">Earnings Call Transcript</a>
            <a href="#" onclick="loadSectionCN('earnings-call-calendar')">Earnings Call Calendar</a>
        </div>
    </div>
    <div id="section-container-CN" class="section-container">
        <!-- Dynamic content loading -->
    </div>
</div>


<!--/////////////////////////////////AI 資訊/////////////////////////////////-->
<div id="ai_box" class="ai-box-section" style="display: none;">
    <div class="info-content">
        <div class="info-column">
            <a href="https://chatgpt.com/" target="_blank">Chat GPT</a>
            <a href="#" onclick="loadAIBoxSection('audio-transcription')">Audio Transcription</a>
        </div>
    </div>
    <div id="aiBoxSectionContainer" class="section-container">
        <!-- Dynamic content loading -->
    </div>
</div>
<!--/////////////////////////////////body資料/////////////////////////////////-->
<div class="body-container">
    <div class="logo-container-new center">
        <a href="https://www.businessweekly.com.tw/Archive/" target="_blank"><img src="/static/img/Business_Weekly-remove.png" alt="businessweek"></a>
        <a href="https://finance.yahoo.com/" target="_blank"><img src="/static/img/Yahoo_F-remove.png" alt="yahoo"></a>
        <a href="https://www.oaktreecapital.com/insights" target="_blank"><img src="/static/img/OKATREE_RM.png" alt="unnamed"></a>
        <a href="https://vocus.cc/become_creator" target="_blank"><img src="/static/img/Vocus-remove.png" alt="vocus"></a>
    </div>

    <div class="logo-container-new center">
        <a href="https://investanchors.com/" target="_blank"><img src="/static/img/Invest_Anchors-remove.png" alt="invest"></a>
        <a href="https://statementdog.com/" target="_blank"><img src="/static/img/Statement_Dog-remove.png" alt="dog"></a>
        <a href="https://www.macromicro.me/13f" target="_blank"><img src="/static/img/MAcro-remove.png" alt="macro"></a>
        <a href="https://mops.twse.com.tw/mops/web/index" target="_blank"><img src="/static/img/Market_Observation-remove_1.png" alt="Market"></a>
    </div>
</div>

<script src="/static/js/main.js"></script>

</body>
</html>