<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link href="/static/img/favicon.ico" rel="shortcut icon"/>
    <title>Poseidon Capital</title>
    <style>
        .section .content {
            overflow: hidden;
            transition: max-height 0.5s ease, opacity 0.5s ease, padding-top 0.5s ease, padding-bottom 0.5s ease;
            max-height: 0; /* 初始最大高度为 0，内容区块是收起的 */
            opacity: 0; /* 初始不透明度为 0 */
            padding-top: 0;
            padding-bottom: 0;
        }

        .section.fixed .content {
            max-height: 1000px; /* 固定时最大高度取消 */
            opacity: 1;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .scroll-container {
            overflow-x: auto;
            overflow-y: auto; /* 确保有垂直滚动条 */
        }

        #fullTranscript {
            white-space: normal; /* 确保文本自动换行 */
            max-height: 500px; /* 设置一个合理的最大高度 */
            overflow-y: auto; /* 确保有垂直滚动条 */
        }
    </style>
</head>
<body>

<div class="navbar">
    <img src="/static/img/poseidon.png" alt="Poseidon Capital Ltd." class="logo">
    <div class="navbar-links">
        <a href="../index.html">首頁</a>
    </div>
</div>

<h1>Financial Data</h1>
<input type="text" id="stockSymbol" placeholder="輸入美股代碼" pattern="[A-Z]*">
<button onclick="fetchStock()">確定</button>
<p id="outputSymbol" data-last-symbol="">現在查詢的是：</p>

<div class="section" onmouseover="expandSection(this)" onmouseleave="collapseSection(this)" onclick="toggleFixed(event, this)">
    <h2>財務收入 Income Statement</h2>
    <div class="content">
        <label for="period">選擇時段：</label>
        <select id="period">
            <option value="annual">Annual</option>
            <option value="quarter">Quarter</option>
        </select>
        <button onclick="fetchIncomeStatement()">載入報表</button>
        <div class="scroll-container">
            <table id="IncomeStatementTable" border="1">
                <div id="incomeStatementContainer"></div>
            </table>
        </div>
    </div>
</div>

<div class="section" onmouseover="expandSection(this)" onmouseleave="collapseSection(this)" onclick="toggleFixed(event, this)">
    <h2>資產負債表 Balance Sheet Statements</h2>
    <div class="content">
        <label for="period_2">選擇時段：</label>
        <select id="period_2">
            <option value="annual">Annual</option>
            <option value="quarter">Quarter</option>
        </select>
        <button onclick="fetchBalanceSheet()">載入報表</button>
        <div class="scroll-container">
            <table id="balanceSheetTable" border="1">
                <div id="balanceSheetContainer"></div>
            </table>
        </div>
    </div>
</div>

<div class="section" onmouseover="expandSection(this)" onmouseleave="collapseSection(this)" onclick="toggleFixed(event, this)">
    <h2>現金流表 Cashflow Sheet Statements</h2>
    <div class="content">
        <label for="period_3">選擇時段：</label>
        <select id="period_3">
            <option value="annual">Annual</option>
            <option value="quarter">Quarter</option>
        </select>
        <button onclick="fetchCashflow()">載入報表</button>
        <div class="scroll-container">
            <table id="cashflowTable" border="1">
                <div id="cashflowContainer"></div>
            </table>
        </div>
    </div>
</div>

<div class="section" onmouseover="expandSection(this)" onmouseleave="collapseSection(this)" onclick="toggleFixed(event, this)">
    <h2>法說會逐字稿 Earnings Call Transcript</h2>
    <div class="content">
        <input type="number" id="yearInput" placeholder="輸入年分">
        <input type="number" id="quarterInput" placeholder="輸入季度">
        <button onclick="fetchEarningsCallTranscript()">載入逐字稿</button>
        <div class="scroll-container" id="earningsCallTranscriptContainer" style="width: 100%;">
            <!-- 這裡將顯示逐字稿內容 -->
        </div>
    </div>
</div>

<div class="section" onmouseover="expandSection(this)" onmouseleave="collapseSection(this)" onclick="toggleFixed(event, this)">
    <h2>法說會日曆 Earnings Call Calendar</h2>
    <div class="content">
        <input type="date" id="fromDate" placeholder="From Date">
        <input type="date" id="toDate" placeholder="To Date">
        <button onclick="fetchEarningsCallCalendar()">載入日曆</button>
        <div class="scroll-container">
            <div id="earningsCallCalendarContainer"></div>
        </div>
    </div>
</div>

<div class="section" onmouseover="expandSection(this)" onmouseleave="collapseSection(this)" onclick="toggleFixed(event, this)">
    <h2>歷史獲利和未來獲利 Historical and Future Earnings</h2>
    <div class="content">
        <input type="date" id="fromDate_1" placeholder="From Date">
        <input type="date" id="toDate_1" placeholder="To Date">
        <button onclick="fetch_historical_earning_calendar()">載入日曆</button>
        <div class="scroll-container" id="historicalEarningsContainer">
            <!-- 数据表格将显示在这里 -->
        </div>
    </div>
</div>

<div class="section" onmouseover="expandSection(this)" onmouseleave="collapseSection(this)" onclick="toggleFixed(event, this)">
    <h2>股利發放日期</h2>
    <div class="content">
        <input type="date" id="fromDate_2" placeholder="From Date">
        <input type="date" id="toDate_2" placeholder="To Date">
        <button onclick="fetch_stock_dividend_calendar()">載入日曆</button>
        <div class="scroll-container">
            <div id="stockDividendCalendarContainer"></div>
        </div>
    </div>
</div>

<div class="section" onmouseover="expandSection(this)" onmouseleave="collapseSection(this)" onclick="toggleFixed(event, this)">
    <h2>內部人交易 Insider Trades</h2>
    <div class="content">
        <button onclick="fetchInsiderTrades()">載入表格</button>
        <div class="scroll-container">
            <table id="InsiderTradesTable" border="1">
                <tbody id="InsiderTradesContainer"></tbody>
            </table>
        </div>
    </div>
</div>

<div class="section" onmouseover="expandSection(this)" onmouseleave="collapseSection(this)" onclick="toggleFixed(event, this)">
    <h2>錄音檔轉文字</h2>
    <div class="content">
        <p id="queueStatus">當前排程中的檔案數量：<span id="queueLength">0</span></p>
        <div class="inline-container">
            <input type="file" id="audioFile" accept="audio/*">
            <button onclick="uploadToFTP()">上傳錄音檔</button>
            <select id="ftpFileSelect">
                <option value="" disabled selected>選擇轉檔的檔案</option>
            </select>
            <button onclick="transcribeFromFTP()">轉檔</button>
            <select id="textFileSelect">
                <option value="" disabled selected>選擇文字檔</option>
            </select>
            <button onclick="downloadTextFile()">下載文字檔</button>
        </div>
        <div id="upload-progress-container" style="display: none;">
            <div id="upload-progress-bar"></div>
        </div>
        <p id="upload-progress-text" style="text-align: center; margin-top: 10px; display: none;">檔案上傳中...</p>
        <div id="transcription-progress-container" style="display: none; text-align: center;">
            <div>
                <div class="loader"></div>
                <p id="transcription-status">轉檔中...</p>
            </div>
        </div>
        <div class="scroll-container" id="transcriptionResult">
            <!-- 轉寫結果將顯示在這裡 -->
        </div>
        <button id="readMoreBtn" class="hidden" onclick="toggleReadMore()">閱讀更多</button>
        <button id="readLessBtn" class="hidden" onclick="toggleReadMore()">閱讀更少</button>
        <div id="alert-box" style="display: none;" class="alert">
            <span id="alert-message"></span>
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        </div>
    </div>
</div>

<script src="/static/js/main.js"></script>
<script>
    function expandSection(element) {
        const content = element.querySelector('.content');
        if (!element.classList.contains('fixed')) {
            content.style.maxHeight = '1000px';
            content.style.opacity = '1';
            content.style.paddingTop = '20px';
            content.style.paddingBottom = '20px';
        }
    }

    function collapseSection(element) {
        const content = element.querySelector('.content');
        if (!element.classList.contains('fixed')) {
            content.style.maxHeight = '0px';
            content.style.opacity = '0';
            content.style.paddingTop = '0';
            content.style.paddingBottom = '0';
        }
    }

    function toggleFixed(event, element) {
        if (event.target.tagName === 'SELECT' || event.target.tagName === 'BUTTON' || event.target.tagName === 'INPUT') {
            return;
        }
        const content = element.querySelector('.content');
        if (content.style.maxHeight !== '0px' && !element.classList.contains('fixed')) {
            element.classList.add('fixed');
        } else {
            element.classList.remove('fixed');
            collapseSection(element);
        }
    }
</script>
</body>
</html>
