<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poseidon Capital - Register</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link href="/static/img/favicon.ico" rel="shortcut icon"/>
</head>
<body>
<div class="navbar">
    <div class="logo">
        <img src="/static/img/poseidon.png" alt="Poseidon Capital Ltd." class="logo">
    </div>
    <div class="navbar-links">
        <a href="login.html">登入</a>
    </div>
</div>

<div class="container">
    <h1>註冊一個新帳號</h1>
    <form id="registerForm">
        <label for="username">帳號:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">密碼:</label>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="註冊">
    </form>
</div>

<script>
    document.getElementById('registerForm').addEventListener('submit', function(event) {
        event.preventDefault();
        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;

        fetch('https://api.poseidonllp.com/api/register', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ username, password })
        })
            .then(response => response.json())
            .then(data => {
                if (data.message === "Registration successful!") {
                    alert("註冊成功！你現在可以登入了。");
                    window.location.href = "login.html";  // 確保這裡的URL指向正確的登入頁面
                } else {
                    alert(data.message);
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('註冊過程中發生錯誤');
            });
    });
</script>
</body>
</html>
