<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poseidon Capital - Register</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link href="/static/img/favicon.ico" rel="shortcut icon"/>
</head>
<body>
<div class="navbar">
    <div class="logo">
        <img src="/static/img/poseidon.png" alt="Poseidon Capital Ltd." class="logo">
    </div>
    <div class="navbar-links">
        <a href="{{ url_for('index_page') }}">首頁</a>
        <a href="{{ url_for('login_page') }}">登入</a>
    </div>
</div>

<div class="container">
    <h1>註冊一個新帳號</h1>
    <form method="post" action="{{ url_for('register') }}">
        <label for="username">帳號:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">密碼:</label>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="註冊">
    </form>
</div>

</body>
</html>
